default:
    suites:
        useCase:
            paths: [tests/UseCase/features]
            contexts:
                - App\Tests\UseCase\Context\LoadCandidateRequestsContext:
                    kernel: '@kernel'
                    repository: '@App\Domain\CandidateRepository'
                    commandHandler: '@App\Application\RequestActivitiesCommandHandler'

                - App\Tests\UseCase\Context\LoadCandidateRequestsFromCsvContext: ~

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: tests/Infrastructure/Behat/bootstrap/bootstrap.php
                class: App\Kernel
